@()

<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li><a href="@routes.Application.index()"><i class="fa fa-home"></i>
					@Messages("home_page")</a></li>
			<li><a href="#"><i class="fa fa-plus-square"></i>
					@Messages("cadastro_base")<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="@routes.OperacaoController.novo()">@Messages("operacao")</a></li>				
					<li><a href="@routes.DesenvolvedorController.index()">@Messages("desenvolvedor")</a></li>
					<li><a href="@routes.StatusController.index()">@Messages("status")</a></li>					
					<li><a href="@routes.ProdutoController.index()">@Messages("produto")</a></li>
				</ul> <!-- /.nav-second-level --></li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->